.serach-container{
    width: 100vw;
    min-height: 100vh;
    background-color: #ecf0f5;
    display: flex;
    justify-content: center;
    padding-top: 40px;
 padding-bottom: 40px;
 overflow-x: hidden;
}


.searchpage{
    width: 80%;
    min-height: 100vh;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

.searchbloginput{
    width: 90%;
 
    height: 40px;
    color: black;
    padding-left: 10px;
    outline: none;
    background-color: #fff;
    border:3px solid #0fbe44;
    border-radius: 10px;

}
.searchbloginput::placeholder{
    color: rgba(0, 0, 0, 0.493);
}

.blogs-contain{
    background-color: #fff;
    width: 80%;
    height: auto;
    padding: 10px;
    gap: 30px;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}

.blog{
    width: 40%;
    background-color: white;
    height: auto;
    margin-top: 25px;
    overflow: hidden;
 
}

.blog-container-id{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.blog-image{
    width: 50%;
    height: 260px;
    resize: cover;
 
}

.blog-detail-part{
    padding-left: 30px;
    width: 60%;
    height: 262px;
    background-color: white;
    overflow: hidden;
}
